# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore IDEA files
.idea

# Ignore Eclipse files
.settings
.classpath
.project

# Ignore properties file
custom.properties
